.pytest_cache
data
lightning_logs
old_nbs
saved_models
old_nbs/flickr_backup.ipynb
old_nbs/inductive_datamodule_backup.py
old_nbs/lightning-test.py
old_nbs/reddit2_backup.ipynb
old_nbs/saint.py
old_nbs/saint_lightning.py
scratch
old_nbs/test.ipynb
train_test_model.py
experiments/*
.idea/*
